@import '../../vars';

$max-items-per-row: 5;
$prod-bg: lighten($color-dark, 85%);

#shop--prod-list {
  .prod-cont {
    flex-basis: 100% / $max-items-per-row;
    margin-top: 2em;
    cursor: pointer;

    .prod-wrpr {
      padding: 2em;
      border-radius: 0.5em;

      &:hover,
      &:focus {
        background-color: $prod-bg;
        box-shadow: 0 0 10px -6px #000;
      }
    }

    .thumb {
      padding: 3em 1em;
      background: linear-gradient($prod-bg, darken($prod-bg, 2%));
    }

    .name {
      height: 3em;
      margin-top: 1em;
      font-size: 1em;
      line-height: 1.5em;
    }

    .price {
      margin-top: 0.5em;
      color: $color-theme;
      font-weight: $fw-b;
      font-size: 1.5em;
    }

    .details-list {
      margin-top: 1em;
      list-style-type: none;
      list-style-position: inside;
      color: #666;
    }

    .btns-cont {
      margin-top: 2em;

      .btn {
        flex: 1;
        padding: 0.3em;
        border-radius: 3px;

        &.details-btn {
          box-shadow: 0 0 0 1px $color-theme;
        }

        &.buy-btn {
          background-color: $color-theme;
          color: #fff;
        }

        &:last-child {
          margin-left: 1em;
        }

        &:hover,
        &:focus {
          box-shadow: 0 0 0 1px $color-theme-dark;
          background-color: $color-theme-dark;
          color: #fff;
        }
      }
    }
  }
}

@media all and (max-width: 1280px) {
  $max-items-per-row: 4;

  #shop--prod-list .prod-cont {
    flex-basis: 100% / $max-items-per-row;
  }
}

@media all and (max-width: 1024px) {
  $max-items-per-row: 3;

  #shop--prod-list .prod-cont {
    flex-basis: 100% / $max-items-per-row;
  }
}

@media all and (max-width: 768px) {
  $max-items-per-row: 2;

  #shop--prod-list .prod-cont {
    flex-basis: 100% / $max-items-per-row;

    .prod-wrpr {
      padding: 1em;
    }

    .name {
      height: 4.5em;
    }

    .btns-cont {
      display: block;

      .btn {
        display: block;
        margin-top: 1em;

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
