@import '../../vars';

$max-items-per-row: 3;

#shop--prod-list {
  .prod-cont {
    flex-basis: 100% / $max-items-per-row;
    padding: 1.5em;
    padding-top: 0;
    text-align: center;

    .thumb {
      padding: 1em;
      // background-color: darken($color-light, 1%);

      img {
        max-width: 200px;
      }
    }

    .name {
      margin-top: 1em;
      font-size: 1em;
    }
  }
}
