$color-dark: #1b1e23;

$theme-color-dark: #424874;
$theme-color-dark-lightened: #a6b1e1;
$theme-color-light: #f4eeff;
$theme-color-light-darkened: #dcd6f7;

$font-stack: 'Source Sans Pro', sans-serif;

$fw-n: 400;
$fw-b: 600;

:root {
  --color-dark: #1b1e23;

  --theme-color-dark: #424874;
  --theme-color-dark-lightened: #a6b1e1;
  --theme-color-light: #f4eeff;
  --theme-color-light-darkened: #dcd6f7;

  --font-stack: 'Poppins', sans-serif;

  --fw-n: 400;
  --fw-b: 600;
}
