$color-light: #fafafa;
$color-dark: #1b1e23;
$color-theme: #f5487f;
$color-theme-light: #fcdae5;
$color-theme-dark: #c7417b;
$color-theme-prim-dark: #8f3b76;
$color-theme-sec-dark: #1f306e;

$font-stack: 'Poppins', 'Nunito Sans', sans-serif;

$fw-n: 400;
$fw-b: 600;

$mt-main-sec: 5em;
$container-hor-pad: 1.5em;

$max-w-s: 700px;

$border-color: rgba($color-dark, 0.4);

:root {
  --color-dark: #1b1e23;

  --theme-color-dark: #424874;
  --theme-color-dark-lightened: #a6b1e1;
  --theme-color-light: #f4eeff;
  --theme-color-light-darkened: #dcd6f7;

  --font-stack: 'Poppins', sans-serif;

  --fw-n: 400;
  --fw-b: 600;
}
