@import './vars';

.fw-n {
  font-weight: $fw-n;
}
.fw-b {
  font-weight: $fw-b;
}

.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.ta-j {
  text-align: justify;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 $container-hor-pad;
}

.feather {
  width: 1.25em;
  height: 1.25em;
}

.main-sec {
  padding-top: $main-sec-view-gap;
  padding-bottom: $main-sec-view-gap;
}

.ui-btn {
  padding: $btn-pad;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  .feather + .txt {
    margin-left: 0.25em;
  }

  &.ui-btn-reg {
    border: inset 1px solid transparent;
  }

  &.active {
    font-weight: $fw-b;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 0 ($container-hor-pad/2);
  }
}
