@import '../vars';

#header {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid $color-theme;
  font-size: 0.9em;

  .nav-tog-btn {
    display: none;
    padding: 0.2em;
    border-radius: 3px;
    border: 1px solid $color-dark;

    &:hover,
    &:focus {
      background-color: $color-theme;
      border-color: $color-theme;
      color: #fff;
    }
  }

  .brand img {
    height: 2.25em;
  }

  .shop-btn {
    padding: 0.5em 0.9em;
    border-radius: 2em;
    box-shadow: inset 0 0 0 1px $color-theme-sec-dark;

    .txt {
      margin-left: 0.3em;
    }

    &:hover,
    &:focus,
    &.active {
      box-shadow: 0 0 10px -3px $border-color;
      color: #fff;
    }

    &:hover,
    &:focus {
      background: $color-theme-sec-dark;
    }

    &.active {
      background: linear-gradient(to right, $color-theme, $color-theme-dark);
    }
  }

  &.navbar-hidden {
    #navbar {
      display: none;
    }
  }
}

#navbar .navlink {
  margin-left: 1em;
  margin-right: 1em;

  &:hover,
  &:focus,
  &.active {
    color: $color-theme;
  }

  &.active {
    font-weight: $fw-b;
  }
}

@media all and (max-width: 768px) {
  #header {
    .container {
      flex-wrap: wrap;
    }

    .nav-tog-btn {
      display: flex;
    }
  }

  #navbar {
    order: 4;
    flex-basis: 100%;
    margin-top: 1.25em;
    padding-top: 1.25em;
    border-top: 1px solid $border-color;
    flex-direction: column;

    .navlink {
      margin: 0;
      padding: 0.5em 0;
      border-radius: 3px;
    }
  }
}

@media all and (max-width: 500px) {
  #header .shop-btn .txt {
    display: none;
  }
}
