@import '../vars';

$header-pad: 1.5em;

#header {
  padding: $header-pad 0;
  border-bottom: 2px solid $color-theme;

  .nav-tog-btn {
    display: none;
    padding: 0.25em;
    border: 1px solid $color-theme-sec-dark;
    border-radius: 3px;
    color: $color-theme-sec-dark;

    &:hover {
      background-color: $color-theme-sec-dark;
      color: #fff;
    }
  }

  .brand img {
    height: 2.5em;
  }

  .navbar .navlink {
    margin: 0 1em;

    &:hover {
      color: $color-theme;
    }

    &.active {
      font-weight: $fw-b;
      color: $color-theme;
    }
  }

  .shop-btn {
    background-color: $color-theme-sec-dark;
    color: #fff;

    &:hover {
      background-color: $color-theme;
      box-shadow: 0 0 10px -3px #0005;
    }

    &.active {
      background: linear-gradient(
        to right bottom,
        $color-theme,
        $color-theme-dark
      );
      box-shadow: 0 0 10px -3px #0005;
    }
  }

  &.navbar-hidden {
    .navbar {
      display: none;
    }
  }

  &:not(.navbar-hidden) {
    .nav-tog-btn {
      background-color: $color-theme-sec-dark;
      color: #fff;
    }
  }
}

@media all and (max-width: 768px) {
  #header {
    .shop-btn {
      .txt {
        display: none;
      }
    }
  }
}

@media all and (max-width: 600px) {
  #header {
    .container {
      flex-wrap: wrap;
    }

    .nav-tog-btn {
      display: flex;
    }

    .navbar {
      order: 4;
      flex-basis: 100%;
      display: block;
      margin-top: $header-pad;
      padding-top: $header-pad;
      border-top: 1px solid $color-theme-sec-dark;

      .navlink {
        display: block;
        margin: 0;
        padding: $btn-pad-v 0;
      }
    }
  }
}
