@import '../../vars';

#about--brief-about-sec {
  margin-top: 0;
  padding-top: $mt-main-sec;
  padding-bottom: $mt-main-sec;
  background-color: $color-light;

  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    max-width: $max-w-s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
