@import '../../vars';

#about--brief-about-sec {
  text-align: center;

  p {
    max-width: $max-w-s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.9em;
  }

  .btn {
    background: $color-theme-sec-dark;
    color: #fff;
    box-shadow: 0 0 10px -3px #0005;

    &:hover,
    &:focus {
      background: linear-gradient(
        to right bottom,
        $color-theme,
        $color-theme-dark
      );
    }
  }
}

@media all and (max-width: 768px) {
  #about--brief-about-sec .btn {
    font-size: 0.9em;
  }
}
