@import '../../vars';

.about--our-role-sec {
  padding-bottom: $main-sec-view-gap;

  .ver-sec {
    flex: 1;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    text-align: justify;
  }

  .more-btn {
    background-color: $color-theme;
    color: #fff;

    &:hover {
      background-color: $color-theme-dark;
    }
  }

  .img-sec {
    margin-left: $main-sec-view-gap / 2;
  }
}

@media all and (max-width: 1024px) {
  .about--our-role-sec {
    text-align: center;

    .container {
      flex-direction: column-reverse;
      align-items: center;
    }

    .txt-sec {
      max-width: $max-w-s;
      margin-top: $main-sec-view-gap / 2;
    }

    p {
      text-align: center;
    }

    .btns-cont {
      justify-content: center;
    }

    .img-sec {
      margin-left: 0;

      img {
        max-height: 250px;
      }
    }
  }
}
