@import '../../vars';

#about--role-gym-prod {
  $p-sec: $mt-main-sec;

  padding-top: $p-sec;
  padding-bottom: $p-sec;
  background-color: $color-dark;
  background-image: linear-gradient(to right, #0007, #0000),
    url('../../img/home-gym-bg.jpg');
  background-size: cover;
  background-position: top right;
  color: #fff;

  .txt-sec {
    flex: 1.5;
  }
}

@media all and (max-width: 1024px) {
  #about--role-gym-prod {
    background-image: linear-gradient(to right, #0007, #0007),
      url('../../img/home-gym-bg.jpg');

    .txt-sec {
      margin-top: 0;
    }
  }
}
