@import '../../vars';

$showcase-theme-color: #e91e63;
$txt-sec-width: 45%;

#about-showcase {
  padding: 7em 0;
  background-image: linear-gradient(to right, rgba(#000, 0.9), rgba(#fff, 0.1)),
    url('../../img/about-showcase.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;

  h1 {
    display: none;
  }

  h2 {
    max-width: 700px;
    height: 2.5em;
    font-size: 4em;
    line-height: 1.25em;

    .cursor-bar {
      position: absolute;
      color: #e91e63;
      animation: 0.5s showcase-typing-effect linear infinite;
    }
  }

  p {
    max-width: 700px;
    margin-top: 2em;
  }

  .btns-cont {
    margin-top: 1em;

    .btn {
      margin-top: 1em;
      margin-right: 2em;
      padding: 0.5em 1em;
      border-radius: 3px;
      border: 1px solid #fff;

      &:hover,
      &:focus {
        background-color: $showcase-theme-color;
        border-color: transparent;
        color: #fff;
      }
    }
  }
}

@keyframes showcase-typing-effect {
  0%,
  33%,
  67%,
  100% {
    opacity: 0;
  }

  34%,
  66% {
    opacity: 1;
  }
}

@media all and (max-width: 1024px) {
  #about-showcase {
    text-align: center;
    background-image: linear-gradient(to top, rgba(#000, 0.8), rgba(#fff, 0)),
      url('../../img/about-showcase.jpg');

    h2,
    p {
      margin-left: auto;
      margin-right: auto;
    }

    .btns-cont {
      .btn {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }
}

@media all and (max-width: 768px) {
  #about-showcase {
    h2 {
      font-size: 2.5em;
    }
  }
}

@media all and (max-width: 500px) {
  #about-showcase {
    h2 {
      height: 3.75em;
    }
  }
}
